
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --cats-bg: #fad0c4;
  --cats-secondary-bg: #fff7f3; 
  --form-group-color: #c599b6;
  --text-white: #fff;
}

::placeholder {
    color: var(--form-group-color);
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: var(--cats-secondary-bg);
}

.cats-intro {
  background-color: var(--cats-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
}

h3 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 4rem;
}

.cat-submission-form {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
}

.input-controls {
  width: 100%;
}

.cat-num-input, button[type="submit"] {
  text-align: center;
  padding: 2rem;
  outline: none;
  border: none;
  font-family: inherit;
  font-style: italic;
  font-size: 2.1rem;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: var(--form-group-color);
  color: var(--text-white);
  font-style: normal;
  font-weight: 600;
}

.cat-photos-facts-display {
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
}