@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --cats-bg: #fad0c4;
  --cats-secondary-bg: #fff7f3;
  --form-group-color: #c599b6;
  --text-white: #fff;
  --error-bg: #f7a2a2;
  --error-text: #f30303;
}

::placeholder {
  color: var(--form-group-color);
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: var(--cats-secondary-bg);
}

.cats-intro {
  background-color: var(--cats-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
}

h3 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
}

.cat-submission-form {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
}

.input-controls {
  width: 100%;
}

.cat-num-input,
button[type="submit"] {
  text-align: center;
  padding: 2rem;
  outline: none;
  border: none;
  font-family: inherit;
  font-style: italic;
  font-size: 2.1rem;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: var(--form-group-color);
  color: var(--text-white);
  font-style: normal;
  font-weight: 600;
}

.cat-photos-facts-display {
  margin: auto;
  width: 90%;
  font-size: 2rem;
}

.cat-fact-list {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1.5rem auto;
}

.error {
  background-color: var(--error-bg);
  color: var(--error-text);
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 4px;
}

.d-none {
  display: none !important;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem;
  justify-content: center;
}

.img {
  width: 30rem;
  height: 40rem;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 14px solid var(--cats-bg);
  border-bottom: 14px solid var(--cats-bg);
  border-right: 14px solid var(--cats-secondary-bg);
  border-left: 14px solid var(--cats-secondary-bg);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
